name: animated_random_button
description: The Animated Random Button Flutter Package provides a set of four animated buttons that generate random values for different scenarios.

homepage: https://github.com/arsepav/animated_random_button


version: 1.0.0

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true

  assets:
    - packages/animated_random_button/coins/RubleHead.png
    - packages/animated_random_button/coins/RubleTail.png
    - packages/animated_random_button/coins/EuroHead.png
    - packages/animated_random_button/coins/EuroTail.png
    - packages/animated_random_button/coins/CentHead.png
    - packages/animated_random_button/coins/CentTail.png
    - assets/


